<link rel="stylesheet" href="/style.css">

<header>
  <h3>
    <a href="/">Veritrans sinatra app</a>
  </h3>
</header>

<section class="recurring-page">
  <h4>Recurring / One Click</h4>

  <section class="cards">
    Saved cards:
    <ul>
      
    </ul>
  </section>

  <form id="add_card_form">
    <input type="hidden" name="token_id" id="card_token">
    <fieldset>
      <legend>Credit card</legend>
      <p>
        <label for="card_number">Card number</label>
        <input type="text" id="card_number" style="width: 150px" value="4811 1111 1111 1114">
        <br>
        <small style="margin-left: 100px" class="card-numbers">
          <a onclick="$('#card_number').val('4811 1111 1111 1114')">success Visa 1</a>
          <a onclick="$('#card_number').val('4411 1111 1111 1118')">success Visa 2</a>
          <a onclick="$('#card_number').val('5810 1111 1111 1112')">success MasterCard 1</a>
          <a onclick="$('#card_number').val('5410 1111 1111 1116')">success MasterCard 2</a>
          <a href="http://docs.veritrans.co.id/en/api/test_credentials.html" target="_blank">documentation</a>
        </small>
      </p>

      <p>
        <label for="card_cvc">Security Code</label>
        <input type="text" id="card_cvc" style="width: 30px" placeholder="cvc" value="123">
      </p>

      <p>
        <label for="card_exp">Expiration date</label>
        <input type="text" id="card_exp" placeholder="MM / YY" value="12 / 16">
      </p>

    </fieldset>

    <input id="add_card_btn" type="submit" value="Add Card">
  </form>

<script src="//api.sandbox.veritrans.co.id/v2/assets/veritrans.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.payment/1.0.2/jquery.payment.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.1/jquery.magnific-popup.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/0.9.9/magnific-popup.css">

<script type="text/javascript">
  Veritrans.client_key = "<%= Veritrans.config.client_key %>";

  // Here is a difference, for 
  Veritrans.url = "<%= Veritrans.config.api_host %>/v2/card/register";


  function createTokenData() {
    return {
      card_number: $('#card_number').val().replace(/\s/g, ''),
      card_cvv: $('#card_cvc').val(),
      card_exp_month: $('#card_exp').val().match(/(\d+) \//)[1],
      card_exp_year: '20' + $('#card_exp').val().match(/\/ (\d+)/)[1]
    };
  }

  $(document).ready(function () {
    $('#card_number').payment('formatCardNumber');
    $('#card_cvc').payment('formatCardCVC');
    $('#card_exp').payment('formatCardExpiry');

    renderCards();

    $('#add_card_form').on('submit', function (event) {
      var form = this;
      $('#submit_btn').attr('disabled', true).val("Processing ...");
      event.preventDefault();

      Veritrans.token(createTokenData, function (data) {
        console.log('Token data:', data);
        // if we get url then it's 3d-secure transaction
        // so we need to open that page
        // this callback function will be called again after user confirm 3d-secure
        // you can also redirect on server side
        if (data.redirect_url) {
          $.magnificPopup.open({
            items: { type: 'iframe', src: data.redirect_url }
          });
          $.magnificPopup.instance.content.find('iframe').height(590);
        // if no redirect_url and we have token_id then just make charge request
        } else if (data.saved_token_id) {
          $('#card_token').val(data.saved_token_id);
          //form.submit();
          $.magnificPopup.close();
          saveCard(data, createTokenData());
          renderCards();
        // if no redirect_url and no token_id, then it should be error
        } else {
          alert(data.validation_messages ? data.validation_messages.join("\n") : data.status_message);
          $('#submit_btn').removeAttr('disabled').removeAttr("value");
        }
      });
    });
  });

  function loadCards () {
    return localStorage.recurring ? JSON.parse(localStorage.recurring) : [];
  }

  function saveCard (tokenInfo, cardInfo) {
    var data = loadCards();

    var row = {
      token_id: tokenInfo.saved_token_id,
      card_number: tokenInfo.masked_card,
      card_expiry: cardInfo.card_exp_month + " / " + cardInfo.card_exp_year
    };
    data.push(row);

    localStorage.recurring = JSON.stringify(data);
  }

  function renderCards () {
    var cards = loadCards();

    var container = $('section.cards ul');
    container.empty();
    cards.forEach(function (card) {
      var el = $('<li>').html(
        "Card Number: <code>" + card.card_number + "</code> " +
        "Expiry: <i>" + card.card_expiry + "</i> "
      );
      el.attr('data-id', card.id);
      el.attr('token-id', card.token_id);
      $('<a>').text('Charge card').bind('click', chargeSavedCard).attr('href', '#').appendTo(el);
      $('<a>').text('Remove').bind('click', removeSavedCard).attr('href', '#').appendTo(el);
      $('<small>').text('Token ' + card.token_id).appendTo(el);
      el.appendTo(container);
    })
  }

  function chargeSavedCard (e) {
    e.preventDefault();
    var token = $(e.target).closest('li').attr('token-id');
    var amount = prompt("Please enter amount (Rp.)", 15000);

    if (amount === "" || amount === null || parseInt(amount, 10) <= 0) {
      console.log("Canceled");
      return;
    }

    // Create iFrame and submit form in it
    var html = '<form action="' + window.location.protocol + '//' + window.location.host + '/charge_vtdirect" method="post">' +
      '<input type=hidden name=recurring value=1>' +
    '<input type=hidden name=token_id value="' + token + '">' +
      '<input type=hidden name=gross_amount value="' + parseInt(amount, 10) + '">' +
      '<input type=submit style="display: none">' +
    '</form>' + "<script>console.log(document.forms[0]); document.forms[0].submit()<\/script>";

    var content = 'data:text/html;charset=utf-8,' + encodeURI(html);
    $.magnificPopup.open({
      items: { type: 'iframe',  src: content}
    });
  }

  function removeSavedCard (e) {
    e.preventDefault();
    var tokenId = $(e.target).closest('li').attr('token-id');
    var cards = loadCards();

    cards.forEach(function (card, index) {
      if (card.token_id == tokenId) {
        if (confirm("Remove card " + card.card_number + "?")) {
          cards.splice(index, 1);
          console.log(cards);
        }
      }
    });

    localStorage.recurring = JSON.stringify(cards);
    renderCards();
  }

</script>