<link rel="stylesheet" href="/style.css">

<header>
  <h3>Veritrans sinatra app</h3>
</header>

<% if @result.redirect_url %>
  <section>
    <p>Here's redirect url <a href='<%= @vtweb_url %>'><%= @vtweb_url %></a> </p>
  </section>
<% end %>

<section>
  <strong>
    Veritrans response:
    <% if @result.success? %>
      <span style="color: green">success</span>
    <% end %>
  </strong>

  <code>
    <pre>
<%= JSON.pretty_generate(JSON.parse(@result.response.body)) %>
    </pre>
  </code>

  <% if @cahrge_params %>
    <strong>Request Body</strong>
    <code>
      <pre>
<%= JSON.pretty_generate(@cahrge_params) %>
      </pre>
    </code>
  <% end %>

  <a href="/">Go back</a>
</section>