body {
  max-width: 900px;
  margin: 0 auto;
  font-size: 16px;
}
a {
  color: #00E;
}
a:hover, a:focus {
  color: #00E;
}

header {
  background: #F5FAFC;
  padding: 3px 5px;
  border-bottom: 1px solid #ccc;
}

section {
  padding: 1em 0;
}

section + section {
  border-top: 1px solid #ccc;
}

label {
  display: inline-block;
  min-width: 100px;
  vertical-align: top;
}
.card-numbers {
  margin-left: 100px;
}
.card-numbers a {
  text-decoration: none;
  border-bottom: 1px dotted #88f;
  margin-right: 10px;
  cursor: pointer;
}
.card-numbers a[href] {
  text-decoration: underline;
  border: none;
}

fieldset {
  margin: 25px 0 12px;
}


#vtweb_form label {
  min-width: 180px;
}

#vtweb_form ul {
  display: inline-block;
  vertical-align: top;
  margin-top: 0;
  padding-left: 0px;
}

#vtweb_form ul li {
  list-style-type: none;
  margin-bottom: 1px;
  font-size: 15px;
}

#vtweb_form small {
  margin-left: 184px;
}