<%= form_tag('/confirm', :id =>"cart_form") do -%>
  <table border=1>
    <tbody>
      <tr>
        <th>Product Info</th>
        <th>Price</th>
        <th align="center">Qty</th>
        <th>Total Price</th>
      </tr>
      <tr>
        <td>Red Esprint</td>
        <td align="right">Rp 500,000</td>
        <td align="center">4</td>
        <td align="right">Rp 2,000,000</td>
      </tr>
      <tr>
        <td>Android Tablet</td>
        <td align="right">Rp 2,500,000</td>
        <td align="center">2</td>
        <td align="right">Rp 5,000,000</td>
      </tr>
      <tr class="subtotal">
        <td colspan="2">
          <input class="checkout" name="commit" type="submit" value="Checkout">
        </td>
        <td><strong>Subtotal:</strong></td>
        <td align="right"><strong>Rp 7,000,000</strong></td>
      </tr>
    </tbody>
  </table>

  <input type="hidden" name="commodity[][COMMODITY_ID]"    value="Espirit"/>
  <input type="hidden" name="commodity[][COMMODITY_QTY]"   value="1"/>
  <input type="hidden" name="commodity[][COMMODITY_PRICE]" value="5000"/>
  <input type="hidden" name="commodity[][COMMODITY_NAME1]" value="Espirit"/>

  <input type="hidden" name="commodity[][COMMODITY_ID]"    value="Tablet"/>
  <input type="hidden" name="commodity[][COMMODITY_QTY]"   value="2"/>
  <input type="hidden" name="commodity[][COMMODITY_PRICE]" value="2500"/> 
  <input type="hidden" name="commodity[][COMMODITY_NAME1]" value="Tablet"/>

  <input type="hidden" name="gross_amount"                 value="10000"/>
<% end %>