<!doctype html>
<html>
<head>
  <title>veritrans-ruby demo</title>
  <link rel="icon" type="image/x-icon" href="https://account.veritrans.co.id/favicon.ico" />
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<header>
  <h3>
    <a href="/">Veritrans sinatra app</a>
  </h3>
</header>

<section>
  <h4>VT-Direct Points</h4>

  <form action="/charge_vtdirect" method="post" id="card_form">
    <input type="hidden" name="format" value="json">
    <input type="hidden" name="token_id" id="card_token">
    <fieldset>
      <legend>Credit Card Points</legend>
      <p>
        <label>Language</label>
        <select name="locale" id="locale">
          <option value="id" selected>Indonesian</option>
          <option value="en">English</option>
        </select>
      </p>
      <p>
        <label for="gross_amount">Amount, Rp.</label>
        <input type="text" name="gross_amount" id="gross_amount" value="30000">
      </p>
      <p>
        <label for="gross_amount">Points, Rp.</label>
        <input type="text" name="points_amount" id="points_amount" value="10000">
      </p>
      <p>
        <label for="card_number">Card Number</label>
        <input type="text" id="card_number" style="width: 150px" value="4802 0000 0000 0002">
        <br>
        <small style="margin-left: 100px" class="card-numbers">
          <a onclick="$('#card_number').val('4802 0000 0000 0002')">Success</a>
          <a onclick="$('#card_number').val('4902 0000 0000 0001')">Deny</a>
          <a href="http://docs.veritrans.co.id/en/vtdirect/other_features.html#installment" target="_blank">documentation</a>
        </small>
      </p>
      <p>
        <label for="card_exp">Expiry Date</label>
        <input type="text" id="card_exp" placeholder="MM / YY" value="12 / 16">
      </p>
      <p>
        <label for="card_cvc">Card CVV</label>
        <input type="text" id="card_cvc" style="width: 35px" placeholder="cvc" value="123">
      </p>

      <p>
        <label for="card_secure">3D-Secure</label>
        <input type="checkbox" id="card_secure">
      </p>

    </fieldset>

    <input id="points_btn" type="submit" value="Check Points">
    <input id="submit_btn" type="submit" value="Charge">
  </form>
</section>

<script src="https://api.sandbox.veritrans.co.id/v2/assets/veritrans.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.payment/1.0.2/jquery.payment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css">

<script type="text/javascript">
  // set Veritrans settings
  Veritrans.url = "<%= Veritrans.config.api_host %>/v2/token";
  Veritrans.client_key = "<%= Veritrans.config.client_key %>";

  function createTokenData() {
    var date = $('#card_exp').val();
    return {
      // Optional params:
      // secure: true
      // bank: 'MANDIRI'

      card_number: $('#card_number').val(),
      card_cvv: $('#card_cvc').val(),
      card_exp_month: date && date.match(/(\d+) \//)[1],
      card_exp_year: date ? '20' + date.match(/\/ (\d+)/)[1] : date,
      gross_amount: $('#gross_amount').val()
    };
  }

  function submitForm(callback) {
    var form = $('#card_form');
    $.ajax({
      url: form.attr('action'),
      method: 'POST',
      data: form.serialize(),
      success: function (data, status, xhr) {
        $.magnificPopup.open({
          items: {
            src: '<div class="white-popup">' +
                    '<h1>Successful!</h1>' +
                    '<code><pre>' + JSON.stringify(data, null, 2) + '</code></pre>' +
                  '</div>',
            type: 'inline'
          }
        });
        callback();
      }
    });
  };

  $(document).ready(function () {
    $('#card_number').payment('formatCardNumber');
    $('#card_cvc').payment('formatCardCVC');
    $('#card_exp').payment('formatCardExpiry');

    $('#points_btn').on('click', function (e) {
      e.preventDefault();
      e.stopPropagation();
      $('#points_btn').attr('disabled', true);
      Veritrans.token(createTokenData, function (data) {
        if (data.token_id) {
          $.ajax({
            url: "/check_points/" + data.token_id,
            method: 'GET',
            success: function (data, status, xhr) {
              $('#points_btn').removeAttr('disabled');
              $.magnificPopup.open({
                items: {
                  src: '<div class="white-popup">' +
                          '<h1>Successful!</h1>' +
                          '<code><pre>' + JSON.stringify(data, null, 2) + '</code></pre>' +
                        '</div>',
                  type: 'inline'
                }
              });
            }
          });
        } else {
          $('#points_btn').removeAttr('disabled');
          alert(data.validation_messages ? data.validation_messages.join("\n") : data.status_message);
        }
        console.log(data);
      });
    });

    $('#card_form').on('submit', function (event) {
      var form = this;
      $('#submit_btn').attr('disabled', true).val("Processing ...");
      event.preventDefault();

      Veritrans.token(createTokenData, function (data) {
        console.log('Token data:', data);
        // if we get url then it's 3d-secure transaction
        // so we need to open that page
        // this callback function will be called again after user confirm 3d-secure
        // you can also redirect on server side
        if (data.redirect_url) {
          $.magnificPopup.open({
            items: { type: 'iframe', src: data.redirect_url }
          });
          $.magnificPopup.instance.content.find('iframe').height(590);
        // if no redirect_url and we have token_id then just make charge request
        } else if (data.token_id) {
          $('#card_token').val(data.token_id);
          $.magnificPopup.close();
          submitForm(function () {
            $('#submit_btn').removeAttr('disabled').removeAttr("value");
          });
          //form.submit();
        // if no redirect_url and no token_id, then it should be error
        } else {
          $('#submit_btn').removeAttr('disabled').removeAttr("value");
          alert(data.validation_messages ? data.validation_messages.join("\n") : data.status_message);
        }
      });
    });
  });
</script>

</body>
</html>
