<!doctype html>
<html>

<body>
<p>
  <label>Snap Redirect URL</label>
  <input type="text" id="Redirect URL" value="<%= @redirecturl %>" readonly size="50"><br><br>
  <button onclick="location.href='<%= @redirecturl %>'">Open Snap Redirect URL</button></p>
</body>
</html>