<!doctype html>
<html>

  <body>
  <p>
    <label>Snap Token</label>
    <input type="text" id="token" value="<%= @token %>" readonly size="50">
  </p>
  <button id="pay-button">Pay</button>
  <pre><div id="result-json">JSON result will appear here after payment:<br></div></pre>

  <!-- TODO: Remove ".sandbox" from script src URL for production environment. Also input your client key in "data-client-key" -->
  <script src="https://app.sandbox.midtrans.com/snap/snap.js" data-client-key=<%= Midtrans.config.client_key %>></script>
  <script type="text/javascript">
      document.getElementById('pay-button').onclick = function(){
          // SnapToken acquired from previous step
          snap.pay('<%= @token %>', {
              // Optional
              onSuccess: function(result){
                  /* You may add your own js here, this is just example */ document.getElementById('result-json').innerHTML += JSON.stringify(result, null, 2);
              },
              // Optional
              onPending: function(result){
                  /* You may add your own js here, this is just example */ document.getElementById('result-json').innerHTML += JSON.stringify(result, null, 2);
              },
              // Optional
              onError: function(result){
                  /* You may add your own js here, this is just example */ document.getElementById('result-json').innerHTML += JSON.stringify(result, null, 2);
              }
          });
      };
  </script>
  </body>