---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.midtrans.com/v2/charge
    body:
      encoding: UTF-8
      string: '{"payment_type":"permata","transaction_details":{"order_id":1554317097,"gross_amount":100000}}'
    headers:
      Authorization:
      - Basic VlQtc2VydmVyLTlIdGItUnhYa2c3LTdoem5TQ0NqeHZvWTo=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "status_code" : "201",
          "status_message" : "Success, PERMATA VA transaction is successful",
          "transaction_id" : "f162dd28-c6a2-4357-a2ff-b942ba33d01e",
          "order_id" : "1554317097",
          "gross_amount" : "100000.00",
          "currency" : "IDR",
          "payment_type" : "bank_transfer",
          "transaction_time" : "2019-04-04 01:44:57",
          "transaction_status" : "pending",
          "fraud_status" : "accept",
          "permata_va_number" : "8778008906093609"
        }
  recorded_at: Wed, 03 Apr 2019 18:44:57 GMT
- request:
    method: post
    uri: https://api.sandbox.midtrans.com/v2/1554317097/cancel
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic VlQtc2VydmVyLTlIdGItUnhYa2c3LTdoem5TQ0NqeHZvWTo=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "status_code" : "200",
          "status_message" : "Success, transaction is canceled",
          "transaction_id" : "f162dd28-c6a2-4357-a2ff-b942ba33d01e",
          "order_id" : "1554317097",
          "gross_amount" : "100000.00",
          "currency" : "IDR",
          "payment_type" : "bank_transfer",
          "transaction_time" : "2019-04-04 01:44:57",
          "transaction_status" : "cancel",
          "fraud_status" : "accept"
        }
  recorded_at: Wed, 03 Apr 2019 18:44:58 GMT
recorded_with: VCR 4.0.0
