---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.midtrans.com/v2/charge
    body:
      encoding: UTF-8
      string: '{"payment_type":"permata","transaction_details":{"order_id":"2014-11-04
        21:06:32 +0700","gross_amount":100000}}'
    headers:
      Authorization:
      - Basic VlQtc2VydmVyLTlIdGItUnhYa2c3LTdoem5TQ0NqeHZvWTo=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "status_code" : "201",
          "status_message" : "Success, PERMATA VA transaction is successful",
          "transaction_id" : "3544730a-e5ca-46b6-9512-233c37670500",
          "order_id" : "2014-11-04 21:06:32 +0700",
          "payment_type" : "bank_transfer",
          "transaction_time" : "2014-11-04 21:08:23",
          "transaction_status" : "pending",
          "permata_va_number" : "8778990000000019",
          "gross_amount" : "100000.00"
        }
  recorded_at: Tue, 04 Nov 2014 14:06:33 GMT
recorded_with: VCR 2.9.3
