---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.midtrans.com/v2/charge
    body:
      encoding: UTF-8
      string: '{"payment_type":"VTWEB","transaction_details":{"order_id":"2014-11-04
        20:58:14 +0700","gross_amount":100000}}'
    headers:
      Authorization:
      - Basic VlQtc2VydmVyLTlIdGItUnhYa2c3LTdoem5TQ0NqeHZvWTo=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "status_code" : "201",
          "status_message" : "OK, success do VTWeb transaction, please go to redirect_url",
          "redirect_url" : "https://vtweb.sandbox.midtrans.com/v2/vtweb/f523ecff-34e7-4791-a558-3f579f731b75"
        }
  recorded_at: Tue, 04 Nov 2014 13:58:15 GMT
recorded_with: VCR 2.9.3
