---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.midtrans.com/v2/charge
    body:
      encoding: UTF-8
      string: '{"payment_type":"vtweb","transaction_details":{"order_id":"2014-11-04
        21:10:15 +0700","gross_amount":100000}}'
    headers:
      Authorization:
      - Basic VlQtc2VydmVyLTlIdGItUnhYa2c3LTdoem5TQ0NqeHZvWTo=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "status_code" : "201",
          "status_message" : "OK, success do VTWeb transaction, please go to redirect_url",
          "redirect_url" : "https://vtweb.sandbox.midtrans.com/v2/vtweb/aff32361-ad6b-4e3f-9173-95b057e68157"
        }
  recorded_at: Tue, 04 Nov 2014 14:10:15 GMT
recorded_with: VCR 2.9.3
