---
http_interactions:
- request:
    method: get
    uri: https://api.sandbox.midtrans.com/v2/token?card_cvv=123&card_exp_month=1&card_exp_year=2020&card_number=4811111111111114&client_key=VT-client-NArmatJZqzsmTmzR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic VlQtc2VydmVyLTlIdGItUnhYa2c3LTdoem5TQ0NqeHZvWTo=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status_code":"200","status_message":"Credit card token is created
        as Token ID.","token_id":"481111-1114-af98ef7c-4d8e-4216-8027-d657bbaa3bf2","hash":"481111-1114-mami"}'
  recorded_at: Mon, 01 Apr 2019 00:00:00 GMT
- request:
    method: post
    uri: https://api.sandbox.midtrans.com/v2/charge
    body:
      encoding: UTF-8
      string: '{"payment_type":"credit_card","credit_card":{"token_id":"481111-1114-af98ef7c-4d8e-4216-8027-d657bbaa3bf2"},"transaction_details":{"order_id":"1554076800","gross_amount":3000}}'
    headers:
      Authorization:
      - Basic VlQtc2VydmVyLTlIdGItUnhYa2c3LTdoem5TQ0NqeHZvWTo=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status_code":"200","status_message":"Success, Credit Card transaction
        is successful","transaction_id":"af98ef7c-4d8e-4216-8027-d657bbaa3bf2","order_id":"1554076800","gross_amount":"3000.00","currency":"IDR","payment_type":"credit_card","transaction_time":"2019-04-04
        02:45:47","transaction_status":"capture","fraud_status":"accept","approval_code":"1554320748048","masked_card":"481111-1114","bank":"mandiri","card_type":"credit","channel_response_code":"00","channel_response_message":"Approved"}'
  recorded_at: Mon, 01 Apr 2019 00:00:00 GMT
- request:
    method: post
    uri: https://api.sandbox.midtrans.com/v2/1554076800/deny
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic VlQtc2VydmVyLTlIdGItUnhYa2c3LTdoem5TQ0NqeHZvWTo=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status_code":"412","status_message":"Transaction status cannot be
        updated.","id":"af98ef7c-4d8e-4216-8027-d657bbaa3bf2"}'
  recorded_at: Mon, 01 Apr 2019 00:00:00 GMT
recorded_with: VCR 4.0.0
