---
http_interactions:
- request:
    method: get
    uri: https://api.sandbox.midtrans.com/v2/token?card_cvv=123&card_exp_month=1&card_exp_year=2020&card_number=4811111111111114&client_key=VT-client-NArmatJZqzsmTmzR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic VlQtc2VydmVyLTlIdGItUnhYa2c3LTdoem5TQ0NqeHZvWTo=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status_code":"200","status_message":"Credit card token is created
        as Token ID.","token_id":"481111-1114-7b87fe46-c989-4034-852f-110f712486f1","hash":"481111-1114-mami"}'
  recorded_at: Sun, 31 Mar 2019 16:00:00 GMT
- request:
    method: post
    uri: https://api.sandbox.midtrans.com/v2/charge
    body:
      encoding: UTF-8
      string: '{"payment_type":"credit_card","credit_card":{"token_id":"481111-1114-7b87fe46-c989-4034-852f-110f712486f1"},"transaction_details":{"order_id":"1554048000","gross_amount":3000}}'
    headers:
      Authorization:
      - Basic VlQtc2VydmVyLTlIdGItUnhYa2c3LTdoem5TQ0NqeHZvWTo=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status_code":"406","status_message":"The request could not be completed
        due to a conflict with the current state of the target resource, please try
        again","id":"7b87fe46-c989-4034-852f-110f712486f1"}'
  recorded_at: Sun, 31 Mar 2019 16:00:00 GMT
- request:
    method: post
    uri: https://api.sandbox.midtrans.com/v2/1554048000/deny
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic VlQtc2VydmVyLTlIdGItUnhYa2c3LTdoem5TQ0NqeHZvWTo=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status_code":"412","status_message":"Transaction status cannot be
        updated.","id":"cd658a44-5589-49df-9357-a2f4317c612f"}'
  recorded_at: Sun, 31 Mar 2019 16:00:00 GMT
recorded_with: VCR 4.0.0
