---
http_interactions:
- request:
    method: get
    uri: https://api.sandbox.midtrans.com/v2/testing-0.2703-1415600236/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic VlQtc2VydmVyLTlIdGItUnhYa2c3LTdoem5TQ0NqeHZvWTo=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"status_code\" : \"200\",\n  \"status_message\" : \"Success,
        transaction found\",\n  \"transaction_id\" : \"b1cbcc66-5608-4af1-a3ed-0f152f9ed871\",\n
        \ \"masked_card\" : \"481111-1114\",\n  \"order_id\" : \"testing-0.2703-1415600236\",\n
        \ \"payment_type\" : \"credit_card\",\n  \"transaction_time\" : \"2014-11-10
        13:17:33\",\n  \"transaction_status\" : \"settlement\",\n  \"fraud_status\"
        : \"accept\",\n  \"approval_code\" : \"1415600254322\",\n  \"signature_key\"
        : \"90da23d37a4ba8fc717990c35240948ab5a97cad71e46777de77b0fe468ffac8624dc09a80a422671f1f9a56f20956ccbe16c91074327c0ba5a33c8974c8973c\",\n
        \ \"bank\" : \"bni\",\n  \"gross_amount\" : \"30000.00\"\n}"
  recorded_at: Mon, 01 Dec 2014 08:35:32 GMT
recorded_with: VCR 2.9.3
