---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.midtrans.com/v2/af3fb136-c405-4103-9a36-5a6a9e2855a9/expire
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Authorization:
      - Basic NjJiMTVhN2QtZTVmOC00YjNjLTllYWItY2E4MjdjYTM3ZjU1Og==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "status_code" : "407",
          "status_message" : "Success, transaction has expired",
          "transaction_id" : "af3fb136-c405-4103-9a36-5a6a9e2855a9",
          "order_id" : "e15dd6fa56-190615060748696",
          "payment_type" : "bank_transfer",
          "transaction_time" : "2015-06-19 13:09:05",
          "transaction_status" : "expire",
          "gross_amount" : "231231.00"
        }
  recorded_at: Fri, 19 Jun 2015 06:15:19 GMT
recorded_with: VCR 2.9.3
