---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.veritrans.co.id/v2/charge
    body:
      encoding: UTF-8
      string: '{"payment_type":"permata","transaction_details":{"order_id":"2016-10-20
        12:39:16 +0700","gross_amount":100000}}'
    headers:
      Authorization:
      - Basic VlQtc2VydmVyLTlIdGItUnhYa2c3LTdoem5TQ0NqeHZvWTo=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "status_code" : "201",
          "status_message" : "Success, PERMATA VA transaction is successful",
          "transaction_id" : "365ea37f-db35-4b24-9a93-b1fa3fde4780",
          "order_id" : "2016-10-20 12:39:16 +0700",
          "gross_amount" : "100000.00",
          "payment_type" : "bank_transfer",
          "transaction_time" : "2016-10-20 12:39:12",
          "transaction_status" : "pending",
          "fraud_status" : "accept",
          "permata_va_number" : "8778006742354093"
        }
  recorded_at: Thu, 20 Oct 2016 05:39:18 GMT
- request:
    method: get
    uri: https://api.sandbox.veritrans.co.id/v2/2016-10-20%2012:39:16%20+0700/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic VlQtc2VydmVyLTlIdGItUnhYa2c3LTdoem5TQ0NqeHZvWTo=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "status_code" : "201",
          "status_message" : "Success, transaction is found",
          "transaction_id" : "365ea37f-db35-4b24-9a93-b1fa3fde4780",
          "order_id" : "2016-10-20 12:39:16 +0700",
          "gross_amount" : "100000.00",
          "payment_type" : "bank_transfer",
          "transaction_time" : "2016-10-20 12:39:12",
          "transaction_status" : "pending",
          "fraud_status" : "accept",
          "permata_va_number" : "8778006742354093",
          "signature_key" : "bbdb81aead6f9262e6c184fa4fabf615189e92619c654895b8adee538bd1b1100688bc54fd3fd5b26a78ef56175cd5946daefcea41e5fe0abd575c60d9f196fd"
        }
  recorded_at: Thu, 20 Oct 2016 05:39:18 GMT
recorded_with: VCR 3.0.3
