---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.veritrans.co.id/v2/charge
    body:
      encoding: UTF-8
      string: '{"payment_type":"permata","transaction_details":{"order_id":1415110500,"gross_amount":100000}}'
    headers:
      Authorization:
      - Basic VlQtc2VydmVyLTlIdGItUnhYa2c3LTdoem5TQ0NqeHZvWTo=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "status_code" : "201",
          "status_message" : "Success, PERMATA VA transaction is successful",
          "transaction_id" : "2e008228-43cf-4f49-9299-329fa239e48b",
          "order_id" : "1415110500",
          "payment_type" : "bank_transfer",
          "transaction_time" : "2014-11-04 21:16:51",
          "transaction_status" : "pending",
          "permata_va_number" : "8778990000000021",
          "gross_amount" : "100000.00"
        }
  recorded_at: Tue, 04 Nov 2014 14:15:00 GMT
- request:
    method: get
    uri: https://api.sandbox.veritrans.co.id/v2/1415110500/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic VlQtc2VydmVyLTlIdGItUnhYa2c3LTdoem5TQ0NqeHZvWTo=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "status_code" : "201",
          "status_message" : "Success, transaction found",
          "transaction_id" : "2e008228-43cf-4f49-9299-329fa239e48b",
          "order_id" : "1415110500",
          "payment_type" : "bank_transfer",
          "transaction_time" : "2014-11-04 21:16:51",
          "transaction_status" : "pending",
          "signature_key" : "6a79b17ff900a9f991b7b16c693e4a8b00843c65d09657fdf586be77597f87fa573c9b8e9aad78784f3208a1ab61f005cc337ef6f763235e282e975bbbf2e0ce",
          "gross_amount" : "100000.00"
        }
  recorded_at: Tue, 04 Nov 2014 14:15:01 GMT
recorded_with: VCR 2.9.3
