---
http_interactions:
- request:
    method: get
    uri: https://api.sandbox.midtrans.com/v2/token?card_cvv=123&card_exp_month=1&card_exp_year=2020&card_number=4811111111111114&client_key=VT-client-NArmatJZqzsmTmzR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic VlQtc2VydmVyLTlIdGItUnhYa2c3LTdoem5TQ0NqeHZvWTo=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status_code":"200","status_message":"Credit card token is created
        as Token ID.","token_id":"481111-1114-a901971f-2f1b-4781-802a-df326fbf0e9c","hash":"481111-1114-mami"}'
  recorded_at: Mon, 01 Apr 2019 04:24:55 GMT
recorded_with: VCR 4.0.0
