<%= javascript_include_tag "#{Veritrans.config.api_host}/v2/assets/js/midtrans.min.js" %>

<script type="text/javascript">
  Veritrans.url = "<%= Veritrans.config.api_host %>/v2/token";
  Veritrans.client_key = "<%= Veritrans.config.client_key %>";
</script>

<% unless Veritrans.config.client_key.present? %>
  <h4 style="color: red">Please add client_key in config/veritrans.yml</h4>
<% end %>